<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtdmybatis-3-mapper.dtd">

<mapper namespace="Cuenta">
    
 <insert id="registrarCuenta" parameterType="pojos.Cuenta">
        INSERT INTO cuenta (idCuenta,correo,contrasena,PlantelEducativo_clave)
        VALUES(#{idCuenta},#{correo},#{contrasena},#{PlantelEducativo_clave})        
 </insert>
 
  <insert id="registrarAlumno" parameterType="pojos.Alumno">
        INSERT INTO alumno (clave,nombre,apellidoPaterno,apellidoMaterno,Cuenta_idCuenta,Genero_idGenero)
        VALUES(#{clave},#{nombre},#{apellidoPaterno},#{apellidoMaterno},#{Cuenta_idCuenta},#{Genero_idGenero})        
  </insert>
  
  <insert id="registrarDocente" parameterType="pojos.Docente">
        INSERT INTO docente (clave,nombre,apellidoPaterno,apellidoMaterno,gradoAcademico,telefono,Cuenta_idCuenta,Genero_idGenero)
        VALUES(#{clave},#{nombre},#{apellidoPaterno},#{apellidoMaterno},#{gradoAcademico},#{telefono},#{Cuenta_idCuenta},#{Genero_idGenero})        
  </insert>
  
    <select id="login" resultType="int" parameterType="pojos.Cuenta">
        SELECT
        cuenta.idCuenta
        FROM cuenta WHERE cuenta.correo = #{correo} and cuenta.contrasena = #{contrasena}
    </select> 
    
    <select id="getAlumno" resultType="pojos.Alumno" parameterType="int">
        SELECT
        alumno.clave,
        alumno.nombre,
        alumno.apellidoPaterno,
        alumno.apellidoMaterno,
        alumno.Cuenta_idCuenta,
        alumno.Genero_idGenero
        FROM alumno WHERE alumno.Cuenta_idCuenta = #{Cuenta_idCuenta}
    </select>
    
    <select id="getDocente" resultType="pojos.Docente" parameterType="int">
        SELECT
        docente.clave,
        docente.nombre,
        docente.apellidoPaterno,
        docente.apellidoMaterno,
        docente.gradoAcademico,
        docente.telefono,
        docente.Cuenta_idCuenta,
        docente.Genero_idGenero
        FROM docente WHERE docente.Cuenta_idCuenta = #{Cuenta_idCuenta}
    </select>
  
</mapper>
