.CentrarContenido{
    text-align: center;
    font-family: Roboto;
}

.DivImagenes{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

.div2{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.div3{
    width: 750px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.div4{
    width: 470px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.div5{
    display: flex;
    justify-content: space-between;
}


.Boton{
    height: 100px; 
    width: 200px;
    border-radius: 10px;
    background-color: #0f6887;
    color: white;
}

.Boton2{
    height: 100px; 
    width: 200px;
    border-radius: 10px;
    background-color: #110f87;
    color: white;
}

.Boton3{
    height: 100px; 
    width: 200px;
    border-radius: 10px;
    background-color: #4d0f87;
    color: white;
}

.Boton4{
    height: 100px; 
    width: 200px;
    border-radius: 10px;
    background-color: #710f87;
    color: white;
}