<!DOCTYPE html>
<html lang="es">

<head>
    <title>Actividad</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/Alumno_EntregarActividad.css" type="text/css" />
</head>

<body>
    <header class="CentrarContenido">
        <h1>Actividad</h1>
    </header>
    <br>
    <br>
    <label for="txt_resultado2" style="font-weight: bold;">Nombre de alumno: </label>
    <input class="txt" id="txt_resultado2" type="text" readonly></input>
    <br>
    <br>
    <div class="div">
        <label for="txt_resultado" style="font-weight: bold;">Nombre de actividad: </label>
        <input class="txt" id="txt_resultado" type="text" readonly></input>
    </div>
    <div class="div2">
        <label for="txt_resultado2" style="font-weight: bold;">Fecha de entrega: </label>
        <input class="txt" id="txt_resultado2" type="text" readonly></input>
    </div>
    <div class="div3 CentrarContenido">
        <label style="font-weight: bold;">Descripción</label>
    </div>
    <br>
    <br>
    <label style="font-weight: bold;">Información proporcionada por el alumno</label>
    <br>
    <br>
    <div class="div4">
    </div>
    <br>
    <br>
    <label style="font-weight: bold;">Archivos subidos por el alumno</label>
    <br>
    <br>
    <label style="font-weight: bold;">Retroalimentación</label>
    <br>
    <br>
    <div class="div4">
    </div>
    <br>
    <br>
    <label style="font-weight: bold;">Calificación</label>
    <div class="Contenido">
        <button class="botonCancelar">CANCELAR</button>
        <button class="botonAceptar">ACEPTAR</button>
    </div>
</body>

</html>