<!DOCTYPE html>
<html lang="es">

<head>
    <title>Solicitar Actividad</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../viewModels/ActividadesDeAlumno.js"></script>
    <link rel="stylesheet" href="../../css/Docente_SolicitarActividad.css" type="text/css" />
</head>

<body>
    <header class="CentrarContenido">
        <h1>Solicitar Actividad</h1>
    </header>
    <input type="file" accept="application/pdf"/>
    <br>
    <br>
    <div class="Contenido">
        <button class="botonCancelar">CANCELAR</button>
        <button class="botonAceptar">SOLICITAR ACTIVIDAD</button>
    </div>
</body>
</html>