<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Inicio Alumno</title>
        <link rel="stylesheet" href="../../css/InicioAlumno.css" type="text/css"/>
    </head>
    <body>
        <header class="CentrarContenido">
            <h1>Inicio Alumno</h1>
        </header>
        <br>
        <br>
        <h2 class="CentrarContenido">¿Qué deseas hacer hoy?</h2>
        <br>
        <br>
        <br>
        <br>
       <div class="DivImagenes">
           <div class="div2">
            <img src="../../css/images/Icono_block.png" width="200" height="200"/>
            <div>
                <br>
                <br>
                <a class="Link" href="js/views/InicioAlumno.HTML">ENTREGAR ACTIVIDAD</a>
            </div>
           </div>
           <div class="div2">
            <img src="../../css/images/ConsultaMat.png" width="200" height="200"/>
            <div>
                <br>
                <br>
                <a class="Link" href="js/views/InicioAlumno.HTML">CONSULTAR MATERIAL DE APOYO</a>
            </div>
           </div>
           <div class="div2">
            <img src="../../css/images/Cal.png" width="200" height="200"/>
            <div>
                <br>
                <br>
                <a class="Link" href="js/views/InicioAlumno.HTML">VER CALENDARIO DE ENTREGAS</a>
            </div>
           </div>
           <div class="div2">
            <img src="../../css/images/Foro.png" width="200" height="200"/>
            <div>
                <br>
                <br>
                <a class="Link" href="js/views/InicioAlumno.HTML">PARTICIPAR EN FORO</a>
            </div>
           </div>
       </div>
    </body>
</html>