<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio Docente</title>
    <link rel="stylesheet" href="../../css/InicioDocente.css" type="text/css" />
</head>

<body>
    <header class="CentrarContenido">
        <h1>Inicio Docente</h1>
    </header>
    <br>
    <h2 class="CentrarContenido">¿Qué deseas hacer hoy?</h2>
    <br>
    <br>
    <div class="DivImagenes">
        <div>
            <h6 class="CentrarContenido">ACTIVIDAD Y MATERIAL DE APOYO</h6>
        </div>
        <div class="div2">
            <button class="Boton">SOLICITAR ACTIVIDAD</button>
            <button class="Boton">MODIFICAR CALIDFICACIÓN<Nav>DE ACTIVIDAD</Nav></button>
            <button class="Boton">MODIFICAR ACTIVIDAD</button>
            <button class="Boton">PUBLICAR MATERIAL<Nav>DE APOYO</Nav></button>
            <button class="Boton">CALIFICAR ACTIVIDAD</button>
        </div>
    </div>
    <br>
    <br>
    <div class="div5">
        <div class="DivImagenes">
            <div>
                <h6 class="CentrarContenido">BITÁCORA</h6>
            </div>
            <div class="div4">
                <button class="Boton2">CREAR BITÁCORA</button>
                <button class="Boton2">MODIFICAR BITÁCORA</button>
            </div>
        </div>
        <div class="DivImagenes">
            <div>
                <h6 class="CentrarContenido">GRUPO</h6>
            </div>
            <div class="div3">
                <button class="Boton3">REGISTRAR GRUPO</button>
                <button class="Boton3">MODIFICAR GRUPO</button> 
                <button class="Boton3">AGREGAR ALUMNO</button> 
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="DivImagenes">
        <div>
            <h6 class="CentrarContenido">OTROS</h6>
        </div>
        <div class="div2">
            <button class="Boton4">PARTICIPAR EN FORO</button>
            <button class="Boton4">FINALIZAR CURSO</button>
            <button class="Boton4">IMPRIMIR<Nav>CALIFICACIONES</Nav></button>
        </div>
    </div>
</body>
</html>