.boton {
    position: relative;
    font-size: 1.2em;
    color: white;
    background-color: rgb(17, 160, 179);
    border-radius: 10px;
  }

  .divForm {
    position: absolute;
    bottom: 150px; 
    right: 20px;
  }

  .divBoton {
    text-align: center;
  }