<!DOCTYPE html>
<html lang="es">

<head>
    <title>Material de apoyo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/Alumno_EntregarActividad.css" type="text/css" />
</head>

<body>
    <header class="CentrarContenido">
        <h1>Publicar material de apoyo</h1>
    </header>
    <br>
    <br>
    <br>
    <label style="font-weight: bold;">Descripción</label>
    <br>
    <br>
    <div class="div4">
    </div>
    <br>
    <br>
    <input type="file" accept="application/pdf"/>
    <br>
    <br>
    <div class="Contenido">
        <button class="botonCancelar">CANCELAR</button>
        <button class="botonAceptar">PUBLICAR MATERIAL</button>
    </div>
</body>

</html>