<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Actividades</title>
        <script type="text/javascript" src="../viewModels/ActividadesDeAlumno.js"></script>
        <link rel="stylesheet" href="../../css/ActividadesAlumno.css" type="text/css" />
    </head>
    <body>
        <header class="CentrarContenido">
            <h1>Registro de alumno</h1>
        </header>
        <br>
        <br>
          <div class="Contenido4">
            <button class="botonCancelar">CANCELAR</button>
            <button class="botonVolver">AGREGAR NUEVO ALUMNO</button>
            <button class="botonAceptar">ACEPTAR</button>
          </div>
        </body>
</html>